{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <a href="{{ path('bonobo_index') }}"><h3>Voir liste d'amis</h3></a>
   <fieldset>
        <legend align="left"><div id="fieldtitre"> <h3>Liste des amis</h3></div></legend>
        <table border="1" CELLSPACING="0" CELLPADDING="5">
        <thead>
            <tr>
                <th>Age</th>
                <th>Famille</th>
                <th>Nourriture</th>
                <th>Race</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.age }}</td>
                <td>{{ user.famille }}</td>
                <td>{{ user.nourriture }}</td>
                <td>{{ user.race }}</td>
                <td>
                    <ul>
                        
                            <a href="{{ path('bonobo_add', { 'id': user.id }) }}">Ajouter</a>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </fieldset>
{% endblock %}
