{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h1>User</h1>

    <table border="2" CELLSPACING="0" CELLPADDING="8">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr><br/>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr><br/>
            <tr>
                <th>Famille</th>
                <td>{{ user.famille }}</td>
            </tr>
            <tr><br/>
                <th>Nourriture</th>
                <td>{{ user.nourriture }}</td>
            </tr><br/>
            <tr>
                <th>Race</th>
                <td>{{ user.race }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bonobo_index') }}">retour au liste d'amis</a>
        </li>
        <li>
            <a href="{{ path('bonobo_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
